
html, body {
  overflow-x: hidden;
  background-color: #2E3449;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #FFF4EC;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", Helvetica, Arial, sans-serif
}
h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth, .one {
   width: 96%;
   float: left;
   position: relative;
   min-height: 1px;
   margin: 0 2% 20px;
}
/*---------------------------------HOMEPAGE-------------------------------------------------------*/
header {
  color: #FFFFFF;
  background-image: url(../images/hero.png);
  background-size: contain;
  background-position: center center;
  text-align: center;
  padding: 0 0 6em;
  height: 100vh;
}

header nav {
  background: rgba(46,52,73,0.80);
  padding: .5em 0;
}
header nav div > div.nav-left{
  display: inline-block;
  text-align: left;
  float: left;
  margin: 0;
  padding-left: 70px;
}
header nav div > div.center-nav {
  display: inline-block;
}
header nav div > div.center-nav li{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0 1em;
  line-height: 2.6;
} 
header nav div > div.center-nav li a{
  color: #50E3C2;
}
header nav div > div.center-nav li > a:hover {
  color: #F9F9F9;
}
header nav div > div.right-nav {
  display: inline-block;
  float: right;
  padding-right: 70px;
}
header nav div > div.right-nav li{
  padding: 10px 15px;
  border: 2px solid #50E3C2;
  border-radius: 4px;
  list-style-type: none;
  text-align: right;
  margin: 0 15px;
}
header nav div > div.right-nav li a{
  color: #50E3C2;
}
header nav div > div.right-nav li:hover {
  background: #E47325;
  text-decoration: none;
}
header nav div > div.right-nav li:hover > a{
  color: #F9F9F9;
}
header div div > div.signup-box{
  padding: 10 15px;
  width: 400px;
  height: 380px;
  border: 2px solid #50E3C2;
  border-radius: 4px;
  margin-top: 100px;
  margin-left: 100px;
  background-image: linear-gradient(-225deg, rgba(242,170,122,0.9) 0%, rgba(228,115,37, 0.9) 100%);
}
header div div div.signup-box h2{
  font-weight: 100;
  font-size: 18px;
  padding-top: 10px;
}
header div div div.signup-box p{
  font-size: 13px;
  font-family: Arvo;
}
header div div div.signup-box ul li{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding-top: 0px;
}
header div div div.signup-box ul li > a{
  color: #F9F9F9;
  font-size: 52.59px;
  margin: 0 .3em;
}
input[type="email"],
input[type="password"] {
  width: 330px;
  height: 30px;
  border: 0px solid;
  font-family: Arvo;
  font-size: 15px;
  color: #595E7E;
  padding:0 10px;
}
input[type="submit"] {
  width: 350px;
  height: 50px;
  background-color: #2E3449;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border: none;
  font-family: Arvo;
  font-size: 25px;
  color: #FFFFFF;
}
input[type="email"] {
  margin-top: 20px;
  margin-bottom: 10px;
}
label{
  font-size: 10px;
  font-family: Arvo;
}
header div div h1{
  text-align: left;
  margin-top: 100px;
  width: 200px;
  margin-left: 100px;
  font-size: 80px;
  font-weight: normal;
  text-shadow: 0 2px 2px #9B9B9B;
}

/*     FEATURES      */

section[class="feature"] {
  background-image: url(../images/feature.png);
  background-position: .2 center;
  text-align: center;
  height: 580px;
}
section[class="feature"] div h1 {
  display: inline;
  text-align: right;
  font-weight: 400;
  font-size: 90px;
  position: relative;
  float: right;
  right:-27px;
  top:10px;
  margin-bottom: 20px;
  margin-top: 0;
} 
.feature div h2.heading {
  display: inline;
  position: relative;
  top: 50px;
  left: 13%;
}
.benefits {
  background: rgba(96,187,192,0.67);
  margin-top: 70px;
  padding-top: 20px;
  float: left;
  text-align: center;
  display: block;
  position: relative;
  list-style-type: none;
  box-shadow: 0 2px 4px #61BBC0;
}

/* INFORMATION PANEL */

.infor {
  background-image: linear-gradient(-227deg, #FFE6D0 0%, #FFC7A2 100%);
  height: 470px;
}
.infor div{
  text-align: left;
  color: #595E7E;
  font-size: 35px;
}
.infor h4 {
  font-weight: 400;
  padding: 10% 0 0;
}
.infor img{
  padding-top: 45px;
}

/*  PRICING */

.pricing {
  background-image: url(../images/cost.png);
  height: 664px;
  text-align: center;
  color: #000000;
}
.pricing h1 {
  text-align: left;
  font-size: 90px;
  font-weight: 400;
  display: inline;
  color: #FFF4EC;
}
.pricing h2{
  display: inline;
  padding-right: 20px;
  color: #FFF4EC;
}
 .pricing ul {
  margin:0 auto;
  padding: 2em 0;
 }
 .pricing ul li {
  list-style-type: none;
 }
 .pricing ul li ul li {
  margin-bottom: 10px;
 }
 .box {
  padding:0 15px 15px;
  background-color: #FFF4EC;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
 }
.box h4 {
  font-size:50px;
  font-weight: normal;
  margin:40px 0 10px;
  color:#0089A0;
 }
.box h3 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(-180deg, #F2AA7A 0%, #E47325 100%);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
  color: #FCFAFA;
 }
.box.middle {
  min-height: 485px;
  margin-top:0px;
 }
.box h4 span {
  font-size:32px;
  vertical-align: top;
 }
.box h4 span.month {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color:#0089A0;
  font-size:20px;
  vertical-align: middle;
}
.btn {
  width: 80%;
  background-color: #2E3449;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border: none;
  font-family: Arvo;
  font-size: 20px;
  color: #FFFFFF;
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 6px;
  position: absolute;
  bottom:20px;
}
/*     TESTIMONIAL */
.testimonial {
  /* Rectangle 11: */
  background-image: url(../images/review.png);
  height: 645px;
}
.testimonial h1 {
  float: right;
  font-weight: 400;
  font-size: 90px;
  position: relative;
  float: right;
  right: 17px;
  margin-bottom: 10px;
  margin-top: 0;
}
.testimonial h2 {
  display: inline;
  position: relative;
  top: 40px;
  left: 40%;
}
img {
  margin: 0 auto;
}
.one {
  list-style-type: none;
  margin: 0 auto;
}
blockquote {
  width: 600px;
  text-align: left;
  padding-left: 270px;
}
.one p {
  font-family: Arvo;
  padding-left: 310px;
}

/* SOCIAL */
.social {
  height:60px;
  background-image: linear-gradient(-248deg, #FFE6D0 0%, #FFC7A2 96%);
}
.social ul {
  list-style-type: none;
  margin: auto auto;
  text-align: center;
  padding-top: 10px;
}
.social ul li {
  display: inline-block;
  list-style-type: none;
}
.social ul li a {
  background: white;
  height: 40px;
  width:40px;
  display: inline-block;
  border-radius: 50%;
  color: #0089A0;
}
.social ul li a i {
  position: relative;
  top:30%;
  left: 0;
  right: 0;
}
/* FOOTER */
.middle-footer-block ul li {
  list-style-type: none;
  display: inline;
}
.middle-footer-block ul {
  padding-top: 10px;
  color: #FFFFFF;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}
.middle-footer-block ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}
.right-footer-block img {
  float: right;
  padding-top: 10px;
}
.left-footer-block {
  float: left;
  padding-top: 10px;
  width: 200px;
}
.left-footer-block p {
  font-size: 14px;
}


/*------------------------------DASHBOARD----------------------------------------------------*/
.dashboard {
  background-color: #FFF4EC;
}
.left-nav {
  font-family: Arvo;
  height: 100%;
  width: 280px;
  color: #FFFFFF;
  background: #2E3449;
  float: left; 
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
  display:block;
  width:280px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
 }
.hamburger {
  position:absolute;
  z-index: 1000;
  background:#2E3449;
  color:#FFF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  left: 5px;
  top: 15px;
 }
@media (min-width:992px) {
  .left-nav {
    height: 100vh;
    width:14.66666667%;
    color:#FFFFFF;
    background: #2E3449;
    float:left;
    position: fixed;
    display:block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
.items p {
  text-transform: uppercase;
  font-weight: 400;
  background: #343A54;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2.5px;
  height: 30px;
  padding-top: 15px;
  padding-left: 10px;
}
.items p.selected {
  background:#3B4360;
}
ul.dashboard-sub {
  padding:0;
}
.outside {
  list-style-type: none;
  height: 30px;
  padding-top: 15px;
  padding-left: 10px;
  font-weight: 400;
  background: #343A54;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2.5px;
  height: 30px;
}
.outside a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 15px;
}
.outside i {
  padding-right: 10px;
}
.seclected {
  background-color: #3B4260
}
.user-name {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  padding:10px 0;
}
.user-name img{
  height:35px;
  width:35px;
  border-radius: 50%;
  margin-left:10px;
  display: inline-block;
}
.user-name p{
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin:0 0 0 10px;
}
.inside ul li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inside ul li a{
  text-decoration: none;
  color: #595E7E;
  font-size: 10px;
}
.inside ul li a i {
  width:16px;
  text-align: center;
  margin-right:8px;
}
#choosen a{
  color: #FFFFFF;
}  
  /*  CONTENT */
.content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position: relative;
 }
.content .header {
  margin:0 1% 20px;
}
.content .header h1 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-image: linear-gradient(-180deg, #F4AC4C 0%, #E47325 100%); 
  width: 800px;
  margin:0 0 30px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 44px;
  float: left;
  display:inline-block;
  padding-left: 10px;
  height: 46px;
}
.menu li a.btn {
  float:right;
  position: relative;
  width: auto;
  display: inline;
  margin-top: 15px;
  background-image: linear-gradient(0deg, #0089A0 0%, #61BBC0 100%);
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2.5px;
  border-radius: 0;
  width: 140px;
  text-align: center;
}
.content-item {
  width:96%;
  margin:0 2% 25px;
  float:left;
  display:block;
}
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
   }*/
  /* Tablets */
  @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
  }
  /* Laptops and Desktops */
  @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
  }
  .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
  }
  .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
  }
  .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
  }
  .item-box h2 a {
   color: #3498DB;
   text-decoration: none;
  }
  .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
  }
  .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
  }
  .item-box .item-box-actions {
    background: rgba(242,170,121,0.85);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    padding: 15px;
  }
  .item-box-actions {
    opacity: 1.;
  }
  .float-right {
    float:right;
  }

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 970;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.3333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Collaborate: */


